.App {
	height: 100vh;
}

.item {
	list-style: none;
	width: 100%;

	gap: 5px;
}

.kbd {
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.TodoList {
	height: 100%;
}

.todo-box {
	display: flex;
	height: 93%;
	flex-direction: column;
	justify-content: space-between;
}